modules = ["python-3.11", "postgresql-16", "nodejs-20"]

[deployment]
router = "application"
deploymentTarget = "autoscale"
run = ["node", "./dist/index.cjs"]
build = ["npm", "run", "build"]

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm install && (PORT=8080 NODE_ENV=development pnpm --filter @workspace/api-server run dev &) && PORT=5000 pnpm --filter @workspace/eskom run dev"
waitForPort = 5000

[agent]
stack = "FULLSTACK_JS"
expertMode = true
integrations = ["javascript_database:1.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 3000
externalPort = 6000

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 3099
externalPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5173
externalPort = 5173

[[ports]]
localPort = 8080
externalPort = 80

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 8082
externalPort = 3002

[[ports]]
localPort = 8090
externalPort = 4200

[[ports]]
localPort = 8091
externalPort = 6800

[[ports]]
localPort = 8092
externalPort = 8000

[[ports]]
localPort = 9999
externalPort = 3003

[[ports]]
localPort = 23962
externalPort = 3000

[userenv]

[userenv.shared]
VITE_SUPABASE_PROJECT_URL = "https://dmuvuzjnsdckfyucnujn.supabase.co"
VITE_SUPABASE_PUBLISHABLE_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRtdXZ1empuc2Rja2Z5dWNudWpuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODEzMDE4MDYsImV4cCI6MjA5Njg3NzgwNn0.WP7C1XiDtZ1VAo3IlUBP_VXIC4DyXiQ3hIwTYogEQ0A"
SUPABASE_DATABASE_URL = "postgresql://postgres:Blanchard12%25446050@db.dmuvuzjnsdckfyucnujn.supabase.co:5432/postgres"
NOWPAYMENTS_EMAIL = "devappmanagement40@gmail.com"
DB_SSL = "false"

[nix]
channel = "stable-25_05"
