modules = ["nodejs-24", "python-3.11", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/api-server run dev & pnpm --filter @workspace/eskom run dev"
waitForPort = 23962

[workflows.workflow.metadata]
outputType = "webview"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 5173
externalPort = 5173

[[ports]]
localPort = 8080
externalPort = 80

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 8082
externalPort = 3002

[[ports]]
localPort = 9999
externalPort = 3003

[[ports]]
localPort = 23962
externalPort = 3000

[userenv]

[userenv.shared]
VITE_SUPABASE_PROJECT_URL = "https://dmuvuzjnsdckfyucnujn.supabase.co"
VITE_SUPABASE_PUBLISHABLE_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRtdXZ1empuc2Rja2Z5dWNudWpuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODEzMDE4MDYsImV4cCI6MjA5Njg3NzgwNn0.WP7C1XiDtZ1VAo3IlUBP_VXIC4DyXiQ3hIwTYogEQ0A"
SUPABASE_DATABASE_URL = "postgresql://postgres:Blanchard12%25446050@db.dmuvuzjnsdckfyucnujn.supabase.co:5432/postgres"
NOWPAYMENTS_EMAIL = "devappmanagement40@gmail.com"

[nix]
channel = "stable-25_05"
